<h4>COMMENTS 留言</h4>
<ul class="comments-list">
</ul>
<% if (properties.length < 1 ) { %>
	<p>Be the first to discuss this sale/rent! 抢沙发! </p>
<% } %>


<div class="new-comment-container">
</div>

<script>
	$("abbr.timeago").timeago();
</script>
